.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Recommendation-Box-wrapper {
  width: 50%;
  margin: auto;
}

.Recommendation-wrapper {
  padding: 0.8rem 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  text-align: left;
}
.Recommendation-text {
  margin-right: 0.25rem;
  font-size: 1.2rem;
}
.Recommendation-action,
.Comment-action {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  float: right;
  font-size: 0.8rem;
  margin: 0 0.4rem;
}

.Comment-Box {
  display: flex;
  flex-direction: column;
  border: 1px darkgray dashed;
  padding: 0.8rem;
}
.Comment-wrapper {
  font-size: 0.9rem;
  margin: 1rem;
  border-bottom: 1px dashed darkgray;
  padding-bottom: 0.4rem;
}

.TextForm {
  text-align: left;
  margin: 0.8rem 0;
}

.TextForm > label {
  font-size: 0.8rem;
  font-weight: bold;
}

.TextForm > * {
  display: block;
  margin: 0.5rem;
}

.TextForm > textarea {
  width: 30rem;
  padding: 0.5rem;
}

.TextForm > input[type="submit"] {
  padding: 0.5rem 1.1rem;
  font-size: 1.15rem;
  border-radius: 0.15rem;
  cursor: pointer;
  margin-top: 1rem;
}

.loading {
  padding: 1.5rem 1.5rem;
  margin: auto;
  font-style: italic;
}
